<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <div>
        {% block content %}
        {% for movie in movies %}
        <div id="movie" style="background-image: url(http://image.tmdb.org/t/p/w500{{movie.backdrop_path}});">
        </div>
        {% endfor %}
        {% endblock %}
    </div>
</body>

<style>
    #movie {
        float: left;
        width: 400px;
        height: 250px;
        margin: 10px;
        border-radius: 7px;
        box-shadow: 0px 0px 5px grey;
        background-size: cover;
    }
</style>

</html>